In [19]:
s = 'hello'
l = [1,2,'abc',24.59,2+6j,True]
f = 29.48
print(s,l,f)

hello [1, 2, 'abc', 24.59, (2+6j), True] 29.48

In [ ]:
""" (i) var1 = ‘ ‘  ---------> string
(ii) var2 = ‘[ DS , ML , Python]’ -----> string
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]  ---------> list
(iv) var4 = 1.  ----------------> int

' (i) var1 = ‘ ‘  ---------> string\n(ii) var2 = ‘[ DS , ML , Python]’ -----> string\n(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]  ---------> list\n(iv) var4 = 1.  ----------------> int '

In [22]:
""" (i) / ------> divide
(ii) % ---------> remainder
(iii) // -------------> floor
(iv) **  -------------> to the power """

a = 20
b = 5
print(a/b)

4.0

In [23]:
print(a%b)
print(a//b)
print(a**b)

0
4
3200000

In [2]:
list_a = [11,12.15,'hello',5+6j,True,7,"5+6j",False,-55,[12,34.56]]

In [3]:
list_a

[11, 12.15, 'hello', (5+6j), True, 7, '5+6j', False, -55, [12, 34.56]]

In [4]:
for i in list_a :
    print(i,type(i))

11 <class 'int'>
12.15 <class 'float'>
hello <class 'str'>
(5+6j) <class 'complex'>
True <class 'bool'>
7 <class 'int'>
5+6j <class 'str'>
False <class 'bool'>
-55 <class 'int'>
[12, 34.56] <class 'list'>

In [1]:
a1 = int(input("enter value for a1"))
b1 = int(input("enter value for b1"))
c1 = a1%b1
d1 = a1 // b1

if c1 == 0 :
    print(a1," is divisible by ",b1," ,",d1," times!")
else :
    print(a1," is not purely divisible by ",b1)

enter value for a1 100
enter value for b1 5

100  is divisible by  5  , 20  times!

In [2]:
a1 = int(input("enter value for a1"))
b1 = int(input("enter value for b1"))
c1 = a1%b1
d1 = a1 // b1

if c1 == 0 :
    print(a1," is divisible by ",b1," ,",d1," times!")
else :
    print(a1," is not purely divisible by ",b1)

enter value for a1 20
enter value for b1 3

20  is not purely divisible by  3

In [4]:
#question 6
list_b = [1,3,5,7,9,2,4,6,8,10,11,13,15,17,19,12,14,16,18,20,22,24,26,28,30]
for i in list_b :
    if i%3 == 0 :
        print(i," is divisible by 3")
    else :
        print(i," is not divisible by 3")

1  is not divisible by 3
3  is divisible by 3
5  is not divisible by 3
7  is not divisible by 3
9  is divisible by 3
2  is not divisible by 3
4  is not divisible by 3
6  is divisible by 3
8  is not divisible by 3
10  is not divisible by 3
11  is not divisible by 3
13  is not divisible by 3
15  is divisible by 3
17  is not divisible by 3
19  is not divisible by 3
12  is divisible by 3
14  is not divisible by 3
16  is not divisible by 3
18  is divisible by 3
20  is not divisible by 3
22  is not divisible by 3
24  is divisible by 3
26  is not divisible by 3
28  is not divisible by 3
30  is divisible by 3

In [6]:
#question 7
print(list_b)

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 11, 13, 15, 17, 19, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [7]:
s = 'hello'
s

'hello'

In [8]:
list_b[2]

5

In [10]:
list_b[-6]

20

In [11]:
s[2]

'l'

In [12]:
s[-1]

'o'

In [13]:
list_b[2] = 6  """this shows list data type is mutable"""

In [14]:
list_b[2]

6

In [15]:
print(list_b)

[1, 3, 6, 7, 9, 2, 4, 6, 8, 10, 11, 13, 15, 17, 19, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [16]:
s[2] = L  """this shows string data type is immutable"""

NameError: name 'L' is not defined

In [17]:
print(s)

hello